@model tomtekdevhome.Models.ContactFormModels
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UID = ", " + User.Identity.Name;
}

<div class="container body-content">
    <div class="jumbotron text-center">
        <h2>@ViewBag.Title</h2>
        <h3>
            Thanks for your interest @UID<br /><br />
            TomTek Development<br />
            c/o Tom Karasch, Owner<br />
            1737 Hemingway Ln.<br />
            Roswell, GA 30075<br />
            <abbr title="Phone">P:</abbr>
            (678)596-7224
        </h3>
        <h3>
            @*<strong>Direct: </strong>    <a href="mailto:tomkarasch@tomtekdev.com">tomkarasch@tomtekdev.com</a><br />*@
            <strong>Support: </strong>   <a href="mailto:support@tomtekdev.com">support@tomtekdev.com</a><br />
            <strong>Sales: </strong>     <a href="mailto:sales@tomtekdev.com">sales@tomtekdev.com</a><br />
            <strong>LinkedIn: </strong><a href="https://www.linkedin.com/in/tomtekdev/" target="_blank">tomtekdev on LinkedIn</a><br />
            <strong>Github: </strong><a href="https://github.com/Krash66" target="_blank">tomtekdev on Github</a>
        </h3>
    </div>
    <div>
        <div class="jumbotron">
            <h2 class="text-center">Contact form </h2>
            <p class="text-center">No information will be used outside TomTek Development. </p>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    @Html.ValidationMessageFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Your Name (Required)" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    @Html.ValidationMessageFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Your E-mail (Required)" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                    @Html.ValidationMessageFor(m => m.Phone)
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Your Phone (###)###-#### (Optional)" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Subject, new { @class = "col-md-2 control-label" })
                    @Html.ValidationMessageFor(m => m.Subject)
                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = "Your Subject (Required)" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
                    @Html.ValidationMessageFor(m => m.Message)
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", style = "height:200px", placeholder = "Type your message here (Required)" })
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg" value="Send" />
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
